/*    Navbar Start      */
.collapse{
    margin-left: 7%;
}
.mynav a{
    margin-right: .2rem;
}
.navbar{
    position: relative;
    width:100%;
    border-bottom: 1px solid #e91e63;
}
.nav-link{
    font-size: small !important;
    font-weight: 700;
}
.nav-link:hover{
    color: #03a9f4!important;
}

#signin{ 
    border:2px solid rgba(17, 16, 16, 0.3);
    border-radius: 20px;
    padding: 0.2rem 1rem !important;
    line-height: 30px;
    color:rgb(250, 250, 250);
    background-color: rgb(45, 7, 95);
}
#signin:hover{
    color: #fff!important;
    background-color:#0af1e6!important;
    border:2px solid rgba(17, 16, 16, 0.3);
    padding: 0.2rem 1rem !important;
} 

#signup{
    border:2px solid rgba(17, 16, 16, 0.3);
    border-radius: 20px;
    padding: 0.2rem 1rem !important;
    line-height: 30px;
    color:#fff;
    background-color:#da0b7d!important;
}
#signup:hover{
    border:2px solid rgba(17, 16, 16, 0.3);
    padding: 0.2rem 1rem !important;
    color: #fff !important;
    background-color:rgb(17, 184, 53)!important;
    border-radius: 20px;
}
/*      Navbar end        
        Search bar Start  */

.search-bar{
    position: absolute;
    z-index: 1;
    top: 150px;
    width:100%
}


.input-group>.form-control:focus{
    box-shadow: none;
}

.input-group>.form-control{
    margin-right: 5px;
}
/*      Search bar ends
        Slide Start     */

.carousel-inner{
    height:100vh !important;
}

.carousel-control-prev, .carousel-control-next{
    background-position: center;
}

@media only screen and (max-width:480px){
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
}
@media only screen and (max-width:768px){
    form{
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    form input{
        font-size: 14px !important;
    }
}
@media only screen and (max-width:994px){
    .carousel-inner{
        height: auto !important;
    }
    form{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    #signin{
        width: 60%;
        margin: 0 auto;
    }
    #signup{
        width: 60%;
        margin: 0 auto;
    }
}
@media only screen and (min-width:1200px){}
